.addIcon{ 
     color: rgb(188, 184, 184);
     height: 20px;
     width: 20px;
     margin-bottom: 7px;
     &:hover{
          cursor: pointer;
     }
}

.playlist_container{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 0;
background-color:rgb(42, 42, 42);
margin: 20px 0px 3px 35px;
max-width: fit-content;
max-height: fit-content;

.menu{
     width: 100px;
}
.addIcon{
     transform: scale(0.5);
     width: 10px;
     & :hover{
       color: rgb(64, 56, 186);  
     }
}




}
