// body{ 
//     background: linear-gradient(0deg, rgb(67, 67, 71) 0%, rgba(9,9,121,1) 26%, rgb(27, 55, 82) 56%, rgb(90, 17, 17) 100%);
// }
*.favorite-container {

    .main {
        display:flex;
        flex-direction: row;
        justify-content: center;
        .container-home{
            background: linear-gradient(0deg, rgb(67, 67, 71) 0%, rgba(9,9,121,1) 26%, rgb(27, 55, 82) 56%, rgb(90, 17, 17) 100%);
        }
        
        .sidebar{
            height: 100vw;
            flex-grow: 1;
            background-color: black;
        }
        .playlist {
            flex-grow: 3;
            background: linear-gradient(0deg, rgb(67, 67, 71) 0%, rgba(9,9,121,1) 26%, rgb(27, 55, 82) 56%, rgb(90, 17, 17) 100%);
            height: 100vw;
    
        }
    }
}


// .main {
//     display: grid;
//     grid-template-columns: 3fr 15fr;
//     grid-auto-rows: auto;
//     justify-content: center;
//     .container-home{
//          background: linear-gradient(0deg, rgb(67, 67, 71) 0%, rgba(9,9,121,1) 26%, rgb(27, 55, 82) 56%, rgb(90, 17, 17) 100%);
//     }
    
//     .sidebar{
//         height: 100vw;
//         background-color: black;
        
//     }
// }
.player{
    position: sticky;
    bottom: 0;
    left: 0;
    z-index:200;
}
